<h1>Seja bem vindo!</h1>
<p>Data: <%= date_br(Date.today) %></p>
<%=render "./menu"%>

<p>Mussum Ipsum, cacilds vidis litro abertis. 
Atirei o pau no gatis, per gatis num morreus. 
Quem num gosta di mim que vai caçá sua turmis! 
Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. 
Copo furadis é disculpa de bebadis, arcu quam euismod magna.</p>
<p>Voce esta em ambiente de <strong><%= ambiente %></strong></p>
